:root{
    --bg-color: black
    --second-color: less black
    --text-color: white
    --main-color: orange
}
html{
    font-size: 60%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;

    
    
      

}
body{
    background-color: black;
    color: white;
}
.header{
    position: fixed;
    width: 70%; 
    top: 0;
    left: 0;
    padding: 4rem 15%; 
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: orangered;
    display: none;
}
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0,3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(270deg,
    orange 10%,
    red 100%);
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: orangered;
    border-bottom: 3px solid transparent;
}
.btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg,
    orange 10%,
    red 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px orangered;
    transition: 0,4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered,
                0 0 100px orangered;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid orangered;
    border-radius: 50%;
    color: orangered;
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: white;
    background-color: orangered;
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px orangered;
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn1{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: orangered;
    box-shadow: 0 0 25px;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0,3s ease-in-out;
}

.btn1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: orangered;
    border: 2px solid orangered;
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px orangered;
    background-color: orangered;
    color: black;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: black;
}
.about-img img{
    width: 32vw;
    border: 50%;
    border-radius: 50%;
    box-shadow: 0 0 25px orangered;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered,
                0 0 100px orangered;
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
}
.about-content .btn1{
    margin: 3rem 0;
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem;
}

.services{
    background-color: black;
    color: black;
}
.services h2{
    color: white;
}
.services-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    align-items: center;
    gap: 2.5rem; 

    display: flex;
    flex-direction: row;
}
.service-box{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: black;
    color: orangered;
    border: 5px solid orangered;
    transform: scale(1.03);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
} 
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.service-info i{
    font-size: 8rem;
}

 

.contact{
    background-color: black;
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10rem;
    margin: 5rem 0;
    text-align: center; 
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
    border: 2px solid orangered;
    margin: 1.5rem 0;
    resize: none;

   
}




.footer{
    background-color: black;
    padding: 50px 0;
    margin-top: -30rem;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0,3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}

@media(max-width:1285px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid orangered;
        border-bottom: 2px solid orangered;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 52vw;
    }
    .contact form{
        flex-direction: column;
    }
}





























